<div id="header" class="container">
	<h1>Sup guys</h1>
	<h3>Today we're going to teach you some really cool stuff</h3>
	<h5>Now you probably already have a couple questions.</h5>
	<h5>Like, who are these people? What are they going to teach me? When can I go eat breakfast?</h5>
	<h5>Let's answer those questions...</h5>
</div>
<!-- <div id="aboutUs" class="container">
	<div class="featurette aboutOne">
		<img class="featurette-image pull-left aboutImg" src="img/katrina.jpg">
		<h2 class="featurette-heading">Katrina</h2>
		<div class="lead">Hello I'm Katrina</div>
	</div>
	<hr class="featurette-divider">
	<div class="featurette aboutOne">
		<img class="featurette-image pull-right aboutImg" src="img/julian.jpg">
		<h2 class="featurette-heading">Julian</h2>
		<div class="lead">Hello I'm Julian</div>
	</div>
	<hr class="featurette-divider">
	<div class="featurette aboutOne">
		<img class="featurette-image pull-left aboutImg" src="img/james.jpg">
		<h2 class="featurette-heading">James</h2>
		<div class="lead">Hello I'm James</div>
	</div>
	<hr class="featurette-divider">
	<div class="featurette aboutOne">
		<img class="featurette-image pull-right aboutImg" src="img/simon.jpg">
		<h2 class="featurette-heading">Simon</h2>
		<div class="lead">Hello I'm Simon</div>
	</div>
</div> -->
<div id="shepherdIntro" class="container">
	<h3>Alright, now that we've gotten that stuff out of the way let's get to what we're teaching. Shepherd.</h3>

</div>