@import url(https://fonts.googleapis.com/css?family=Raleway|Josefin+Sans);

#navLogo {
	max-height: 40px;
	padding-top: 10px;
	margin-left: 5%;
}

html {
    font-family: 'Raleway', sans-serif !important;
  }

.aboutImg {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin: 4%;
}

.aboutOne {
	overflow: auto;
}