 /*
	Katrina Ezis
	CSE 154 AF
	Homework 9 (Baby Names) 
	December 4, 2014
	Baby names utilizes ajax to fetch data in
	text, HTML, XML, and JSON formats. It utilizes
	this data and the user's selected name
	to show a page with the meaning/origin of the 
	name, the name's popularity since 1900 in graph
	form, and a list of celebrities with that same name.

	This is the CSS code for the page.
*/

body, label, button, select {
	font-size: 12pt;
	font-family: Georgia, serif;
}

q {
	font-style: italic;
}

td {
	width: 50px;
	vertical-align: bottom;
}

td, .graph {
	height: 250px;
	font-weight: bold;
}

.graph {
	background-color: #FFBBBB;
	text-align: center;
}
